<section id="experience" class="bg-light">
    <h2 class="heading">A propos de moi</h2>
    <h4>Bonjour,</h4>
    <p>Je m'appelle Clément Lecoq et je suis en deuxième année de formation d'ingénieur par apprentissage à Télécom Sudparis.</p>
    <p>Actuellement en apprentissage au ministère des armées, je porte au quotidien la double casquette de chef de projet et d'achitecte réseau au sein du bureau LAN.</p>
    <p>Après avoir obtenu mon baccalauréat scientifique en 2017, je savais déjà que je souhaiter m'orienter vers le domaine de l'informatique au sens large. 
    J'ai donc décidé de partir dans un DUT Réseau et Télécommunications avec pour objectif d'intégrer une école d'ingénieur à terme.</p>
    <p>Pour ma deuxième année de DUT j'ai eu l'occasion de partir en apprentissage, j'ai passée un an chez orange en tant que technicien d'abord pour les particulier puis pour les enterprises. 
    Cette année m'a permis de découvrir le monde de l'entreprise, de consolider mes comptétences techniques mais surtout de dévélopper mes compétences relationelles aussi bien avec mes collègues que mes clients.</p>
    <p>Apres avoir majoré ma deuxième année j'ai pu intégrer Télécom SudParis par la voie d'apprentissage. Le choix du ministère des armée me permet de couvrir au quotidien des sujet trés variés avec une grande autonomie.</p>
    <p>Grace à mon poste actuel je sais que je veux vraiment orienter ma carrière vers la conception et la sécurisation des réseaux plus que la gestion de projet. Une fois mon diplôme obtenu, j'orienterai ma recherche vers des postes d'architecte réseau.</p>
    <br>
    <h6>Niveau de langue :</h6>
    <p>Francais : Langue maternel
    <br>Anglais : C1</p>
    <h6>Centres d'intérêts :</h6>
    <p>Sport : Vélo
    <br>Loisirs : Photographie</p>
    <h6>Permis B, véhiculé</h6>
</section>