{{ $config := .Site.Data.config }}

<section id="contact" class="bg-light d-flex align-items-center" style="height: 100vh;">
  <div class="container">
      <h2 class="heading mb-3">Me contacter</h2>

      <p>N'hésiter pas à me contacter pour tout renseignement complémentaire</p>

      <br>

      <div class="row w-100">
        <div class="col-md-2 no_padding_r">
          <h6 class="custom_h_contact">Mails :</h6>
        </div>
        <div class="col-md-6 no_padding">
          <ul>
            <li>contact@clfp.fr</li>
            <li>clement.lecoq@telecom-sudparis.eu</li>
          </ul>
        </div>
      </div>

      <div class="row w-100">
        <div class="col-md-2 no_padding_r">
          <h6 class="custom_h_contact">Téléphone :</h6>
        </div>
        <div class="col-md-6 no_padding">
          <ul>
            <li>07 61 91 90 65</li>
          </ul>
        </div>
      </div>

  </div>
</section>
